@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root
{
    --cor-background: #F3F5FC;
    --cor-texto-inserido: #00008b ;;
    --cor-mensagem-principal: #343A40;
    --cor-mensagem-auxiliar: #495057;
    --cor-botao1: #0A3871;
    --cor-botao2: #D8DFE8;
    --font-size-btn: 1rem;
    --b-radius-btn: 24px;
    --b-width: 50%;
    --font-resultado: "Inter";
}


body {
    background-color: #F3F5FC;
    height: 100vh;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content:center ;
}

main
{
    width: 100%;
    height: 100%;
}

@media (min-width: 375px)
{
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        background: var(--cor-background);
        gap: 40px;
        height: 100%;
    }

    .container-logo
    {
        align-self:flex-start ;
        padding-bottom: 10% ;
    }

    .container-interacoes
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .container-interacoes-texto
    {
        border: none;
        resize: none;
        outline: none;
        color: var(--cor-texto-inserido);
        font-size: 1.5rem;
        background-color: var(--cor-background);
        text-align: left;
        align-self: flex-start;
        width: 100%;
        height: 250px;
        font-family: var(--font-resultado);
    }

    .container-interacoes-criptografia
    {
       margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .container-interacoes-criptografia-info
    {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-family: var(--font-resultado);
    }

    .container-interacoes-criptografia-botoes
    {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    #criptografar
    {
        font-size: var(--font-size-btn);
        color: white;
        background-color: var(--cor-botao1);
        border-radius: var(--b-radius-btn);    
        width: 100%;
        padding: 24px;
        border: 1px solid var(--cor-botao1);
        font-family: var(--font-resultado);
    }

    #descriptografar
    {
        font-size: var(--font-size-btn);
        color: var(--cor-botao1);
        background-color: var(--cor-background);
        border-radius: var(--b-radius-btn); 
        width: 100%;
        padding: 24px;
        border:1px solid var(--cor-botao1);
        font-family: var(--font-resultado);
    }

    .container-resultado
    {
        background-color: white;
        width: 100%;
        /* max-width: 100%; */
        display: block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 32px;
        box-shadow: 2px 12px 50px rgba(0, 0, 0, 0.109)
    }
    
    .imagem-manequim
    {
        display: none;
    }

    .mensagem-resultado-textos
    {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-family: var(--font-resultado);
        gap: 16px;
        max-width: 100%;
        padding: 32px;
        height: 150px;
        font-family: var(--font-resultado);
        
    }
    
    .mensagem-resultado-textos h2,p
    {
        margin: 0px;
        padding: 0px;
        
    }

    .mensagem-resultado-auxiliar
    {
        
        word-wrap: break-word;
        max-width: 100%;
        
        display: -webkit-box; /* Para usar o line-clamp */
        -webkit-box-orient: vertical; /* Orientação vertical para o box */
        max-height: 170px; /* Altura máxima do contêiner */
        overflow: hidden; /* Esconde qualquer conteúdo que exceda a altura */
        -webkit-line-clamp: 8; /* Número de linhas de texto exibidas */
        text-overflow: ellipsis;
    }

    .container-resultado-clipboard
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20%;
    }

    #clipboard
    {
        display: none;
        font-size: var(--font-size-btn);
        color: var(--cor-botao1);
        background-color: var(--cor-background);
        border-radius: var(--b-radius-btn); 
        width: 50%;
        padding: 24px;
        border:1px solid var(--cor-botao1);
        font-family: var(--font-resultado);
    }

    .exibido
    {
        display: block;
        text-align: left;
    }
}

@media (min-width: 768px) {

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        background: var(--cor-background);
        gap: 40px;
    }

    .container-logo
    {
        align-self:flex-start ;
        padding-bottom: 10% ;
    }

    .container-interacoes
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .container-interacoes-texto
    {
        border: none;
        resize: none;
        outline: none;
        color: var(--cor-texto-inserido);
        font-size: 1.5rem;
        background-color: var(--cor-background);
        text-align: left;
        align-self: flex-start;
        width: 100%;
        height: 350px;
        font-family: var(--font-resultado);
    }

    .container-interacoes-criptografia
    {
        display: flex;
        flex-direction: column;
        height: 120px;
        gap: 16px;
    }

    .container-interacoes-criptografia-info
    {
        display: flex;
        align-items: center;
        font-family: var(--font-resultado);
    }

    .container-interacoes-criptografia-botoes
    {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    #criptografar
    {
        font-size: var(--font-size-btn);
        color: white;
        background-color: var(--cor-botao1);
        border-radius: var(--b-radius-btn);    
        width: var(--b-width);
        padding: 24px;
        border: 1px solid var(--cor-botao1);
        font-family: var(--font-resultado);
    }

    #descriptografar
    {
        font-size: var(--font-size-btn);
        color: var(--cor-botao1);
        background-color: var(--cor-background);
        border-radius: var(--b-radius-btn); 
        width: var(--b-width);
        padding: 24px;
        border:1px solid var(--cor-botao1);
        font-family: var(--font-resultado);
    }

    .container-resultado
    {
        background-color: white;
        width: 100%;
        border-radius: 32px;
        box-shadow: 2px 12px 50px rgba(0, 0, 0, 0.109)
    }

    .imagem-manequim
    {
        display: none;
    }
    
    .mensagem-resultado-textos
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-family: var(--font-resultado);
        gap: 16px;
        width: 90%;
        height: 100px;
        font-family: var(--font-resultado);
    }
    
    .mensagem-resultado-auxiliar
    {
        display: -webkit-box; /* Para usar o line-clamp */
        -webkit-box-orient: vertical; /* Orientação vertical para o box */
        max-height: 120px; /* Altura máxima do contêiner */
        overflow: hidden; /* Esconde qualquer conteúdo que exceda a altura */
        -webkit-line-clamp: 5; /* Número de linhas de texto exibidas */
        text-overflow: ellipsis;
    }

    .mensagem-resultado-textos h2,p
    {
        margin: 0px;
        padding: 0px;
    }
    
    .exibido
    {
        display: block;
        text-align: left;
    }
    
}

@media (min-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        padding: 40px;
        gap:40px;
    }

    .container-logo
    {
        width: 100%;
    }

    .container-interacoes
    {
        display: flex; 
        flex-direction:column; 
        width: 100%;
        height: 90%;
    }

    .container-interacoes-texto
    {
        margin-top: 60px;
        height: 90%;
        width: 100%;
    }

   
    .container-interacoes-criptografia
    {
        display: flex;
        justify-content: end;
        flex-direction:column; 
        width: 100%; 
        height: 30%;
    }

    .container-interacoes-criptografia-info
    {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .container-interacoes-criptografia-botoes
    {
        display: flex;
        gap: 24px;
        padding-bottom: 20px;
    }

    .container-interacoes-texto
    {
        border: none;
        resize: none;
        color: var(--cor-texto-inserido);
        font-size: 1.5rem;
        background-color: var(--cor-background);
        text-align: left;
      
        
    }


    #criptografar
    {
        font-size: var(--font-size-btn);
        color: white;
        background-color: var(--cor-botao1);
        border-radius: var(--b-radius-btn);    
        width: var(--b-width);
        padding: 24px;

    }

    #descriptografar
    {
        font-size: var(--font-size-btn);
        color: var(--cor-botao1);
        background-color: var(--cor-botao2);
        border-radius: var(--b-radius-btn); 
        width: var(--b-width);
        padding: 24px;
        border:1px solid var(--cor-botao1);

    }

    .container-resultado
    {
        display: block;
        justify-content: space-between;
        height: 85%;
        background-color: white;
        border-radius: 32px;
        max-width: 80%; 
        padding:  40px;
        box-shadow: 8px 6px 10px rgba(0, 0, 0, 0.185);

    }

    .container-resultado-retorno-mensagem
    {
        display: block;
        height: 84%;
        align-content:space-around ;
    }

    .mensagem-resultado-auxiliar {
        max-width: 100%; 
        word-wrap: break-word;

        display: -webkit-box; /* Para usar o line-clamp */
        -webkit-box-orient: vertical; /* Orientação vertical para o box */
        max-height: 80%; /* Altura máxima do contêiner */
        overflow: hidden; /* Esconde qualquer conteúdo que exceda a altura */
        -webkit-line-clamp: 20; /* Número de linhas de texto exibidas */
        text-overflow: ellipsis;
    }

    .exibido
    {
        text-align: left;
        align-content: flex-start;
        height: 100%;
    }

    .imagem-manequim
    {
            display: block;
    }

    .mensagem-resultado-textos
    {
        display: block;
        flex-direction: column;
        text-align: center;
        padding: 0;
        width: 100%;

    } 

    

    .container-resultado-clipboard
    {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .texto-final
    {
        font-size: 1.5rem;
        font-family: var(--font-resultado);
        text-align: left;
        color: var(--cor-mensagem-auxiliar);
    }

    #clipboard
    {   
        display: none;
        flex-direction: column;
        font-size: var(--font-size-btn);
        color: var(--cor-botao1);
        background-color: var(--cor-botao2);
        border-radius: var(--b-radius-btn); 
        width: var(--b-width);
        padding: 24px;
        border:1px solid var(--cor-botao1);
    }

    .exibido
    {
        text-align: left;
        align-content: flex-start;
        max-width: 400px;
        justify-content: center;
        min-width: 380px;
    }
}
