@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root
{
    --cor-texto-inserido: #00008b ;;
    --cor-mensagem-principal: #343A40;
    --cor-mensagem-auxiliar: #495057;
    --cor-botao1: #0A3871;
    --cor-botao2: #D8DFE8;
}

*
{
    border: 1px solid rgba(255, 0, 0, 0.13);
}

body
{
    width: 95vw;
    height: 95vh;
    background-color: rgb(243, 252, 255);
    padding: 40px;
    display: flex;
    justify-content: center;
    font-family: "Inter";
    font-weight: 400;
    
}

header
{
    padding: 40px;
}
.principal
{
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 1440px;
    height: 1024px;
    padding: 30px;
}

.conteudo
{
    width: 1300px;
    height: 80%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 10%;

}

.conteudo-mensagem
{
    color: var(--cor-texto-inserido);
    font-size: 2rem;
}

.conteudo-mensagem-texto
{
    border: none;
    resize: none;
    color: var(--cor-texto-inserido);
    font-size: 2rem;
    
}

.conteudo-selecao
{
    display: flex;
    flex-direction: column;
    height: 160px;
}

.conteudo-selecao-info
{
    align-self: flex-start;
}

.conteudo-selecao-acoes
{
    display: flex;
    justify-content: space-between;
    width: 680px;
    height: 67px;
    gap: 24px;
}

#criptografar
{
    width: 328px;
    color: white;
    background-color: var(--cor-botao1);
    text-align: center;
    padding: 24px;
    border-radius: 24px;
    
}

#desencriptografar
{
    width: 328px;
    color: white;
    background-color: var(--cor-botao2);
    text-align: center;
    padding: 24px;
    border-radius: 24px;
}

.mensagem-resultado
{
    width: 700px;
    background-color: white;
    border-radius:32px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px ;
    box-shadow: 2px 16px 16px rgba(0, 0, 0, 0.13);
}

.exibindo
{
    display: block;
}

.escondido
{
    display: none;
}

.mensagem-resultado-texto
{
    width: 336px;
    height: 122px;
    text-align: center;
}

.mensagem-resultado-principal
{
    color: var(--cor-mensagem-principal);
}

.mensagem-resultado-auxiliar
{
    color: var(--cor-mensagem-auxiliar);
}